@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: Comfortaa, Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: monospace, 'Courier New', Courier;
  background-color: #131313;
}

button {
  outline: none;
  cursor: pointer;
}

button,
input {
  border: none;
  outline: none;
}
