.calculator {
  width: 350px;
  border-radius: 10px;
  background-color: #1c1c1c;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

@media (max-width: 380px) {
  .calculator {
    width: 100%;
  }
  .calculator .btn {
    font-size: 25px;
  }

  .calculator .btn:not(.equal-btn) {
    width: 55px;
    height: 55px;
  }
}
